<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/CustomerHeader :: header}">
</head>
<body>
	<!-- Main Part -->
	<div class="container-fluid" style="background-color:#FFF8DC">
		<!-- Personal Information -->
		<div class="col-md-12">
			<p style="padding-top:10px"><span class="caret"></span> Personal Information</p>
			<div style="background-color:white;border-top:solid;border-color:#117ACA;border-width:8px">
				<div class="row" style="padding-left:5px">
					<div class="col-md-3">
						<p style="margin-bottom:0;font-size:10px;font-color:grey">Name</p>
						<p style="font-size:20px" th:text="${model.name}"></p>
					</div>
					<div class="col-md-3">
						<p style="margin-bottom:0;font-size:10px;font-color:grey">Account Password</p>
						<p style="font-size:20px">******<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Change</button></p>
						<span th:each="err : ${model.error}">
							<p style="color:red" th:text="${err}"></p>
						</span>
					</div>
					<form th:action="@{~/user}" method="post">
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    				<div class="modal-dialog">
	        				<div class="modal-content">
	            				<div class="modal-header">
	                				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                				<h4 class="modal-title" id="myModalLabel">Change Your Password</h4>
	            				</div>
	            				<div class="modal-body">
	            					<table>
							  			<tr>
								    		<th>New Password:</th>
								    		<th><input type="password" name="password"/></th>
								    	</tr>
								    	<tr>
							    			<th>Comfirm New Password:</th>
							    			<th><input type="password" name="confirmpw"/></th>
							    		</tr>
							    	</table>
	            				</div>
	            				<div class="modal-footer">
	                				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	               					<button type="submit" class="btn btn-primary">Submit</button>
	            				</div>
	        				</div><!-- /.modal-content -->
	    				</div><!-- /.modal -->
					</div>
					</form>
					<div class="col-md-6">
						<p style="margin-bottom:0;font-size:10px;font-color:grey">Address</p>
						<p style="margin-bottom:0;font-size:20px;" th:text="${model.address}"></p>
					</div>
				</div>
			</div>
		</div>
		<!-- Account Information -->
		<div class="col-md-12">
			<p style="padding-top:10px"><span class="caret"></span> Account Information</p>
			<div style="background-color:white;border-top:solid;border-color:#117ACA;border-width:8px">
				<div class="row" style="padding-left:5px">
					<div class="col-md-4">
						<p style="margin-bottom:0;font-size:10px;font-color:grey">Cash Balance</p>
						<p style="font-size:30px" th:text="${#numbers.formatDecimal(model.balance, 1, 'COMMA', 2, 'POINT')}"></p>
					</div>
					<div class="col-md-4">
						<p style="margin-bottom:0;font-size:10px;font-color:grey">Available Balance</p>
						<p style="font-size:30px" th:text="${#numbers.formatDecimal(model.available, 1, 'COMMA', 2, 'POINT')}"></p>
					</div>
					<div class="col-md-4">
						<p style="margin-bottom:0;font-size:10px;font-color:grey">Last Trading Date</p>
						<p style="font-size:30px" th:text="${model.tradeday == null} ? ' ' : ${model.tradeday}"></p>
					</div>
					<div class="col-md-12">
						<p style="margin-bottom:0;font-size:10px;font-color:grey">Fund Owned</p>
						<table class="table text-right" style="background-color:white;">
			            	<thead class="thead-light">
					  			<tr class="text-right">
					  				<th scope="col">#</th>
						    		<th scope="col" class="text-right">Fund</th>
						    		<th scope="col" class="text-right">Shares Owned</th>
						    		<th scope="col" class="text-right">Price(At the last trading day)</th>
						    	</tr>
					    	</thead>
					    	<tbody>
						    	<tr th:each="position : ${model.positionlist}">
						    		<th scope="row" th:text="${position.fundId}"></th>
					    			<td th:text="${position.fundName}"></td>
					    			<td th:text="${#numbers.formatDecimal(position.shares, 1, 'COMMA', 3, 'POINT')}"></td>
					    			<td th:text="${#numbers.formatDecimal(position.price, 1, 'COMMA', 2, 'POINT')} "></td>
					    		</tr>
				    		</tbody>
				    	</table>
			    	</div>
				</div>

			</div>
		</div>

		<!-- link -->
		<div class="row" style="padding-left:10px;">
			<div class="col-lg-3">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
	                        <div class="col-xs-3">
	                            <i class="fa fa-usd fa-5x"></i>
	                        </div>
	                        <div class="col-xs-9 text-right">
	                            <div>Buy New Funds!</div>
	                        </div>
                        </div>
					</div>
					<a th:href="@{~/user/buy}">
						<div class="panel-footer">
							<span class="pull-left">View Details</span>
							<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="panel panel-success">
					<div class="panel-heading">
						<div class="row">
	                        <div class="col-xs-3">
	                            <i class="fa fa-exchange fa-5x"></i>
	                        </div>
	                        <div class="col-xs-9 text-right">
	                            <div>Sell Your Funds!</div>
	                        </div>
                        </div>
					</div>
					<a th:href="@{~/user/sell}">
						<div class="panel-footer">
							<span class="pull-left">View Details</span>
							<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="panel panel-info">
					<div class="panel-heading">
						<div class="row">
	                        <div class="col-xs-3">
	                            <i class="fa fa-file-text-o fa-5x"></i>
	                        </div>
	                        <div class="col-xs-9 text-right">
	                            <div>View Transaction History</div>
	                        </div>
                        </div>
					</div>
					<a th:href="@{~/user/transaction}">
						<div class="panel-footer">
							<span class="pull-left">View Details</span>
							<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<div class="row">
	                        <div class="col-xs-3">
	                            <i class="fa fa-money fa-5x"></i>
	                        </div>
	                        <div class="col-xs-9 text-right">
	                            <div>Request Check</div>
	                        </div>
                        </div>
					</div>
					<a th:href="@{~/user/check}">
						<div class="panel-footer">
							<span class="pull-left">View Details</span>
							<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	
	<!-- foot -->
	<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>