<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="css/bootstrap.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<title>Sell Fund</title>
	<script type="text/javascript">
		$(document).on('keyup', '#amount', function() {
			console.log("lalalaa");
		    var cur = parseInt($("#amount").val()),
		        max = parseInt($("#amount").attr("max")),
		        min = parseInt($("#amount").attr("min"));
		    if (cur > max) {
		        $("#amount").val(max);
		    };
		    if (cur < min) {
		        $("#amount").val(min);
		    }
		})
	</script>
</head>
<body>
	<div th:replace="~{fragments/CustomerHeader :: header}"></div>

	<!-- Main Part -->
	<br/>
	<br/>
	<div class="container-fluid" align=center>
		<p style="margin-left:-55%;font-size:20px"><span class="caret"></span> FUND RESEARCH</p>
		<form th:action="@{~/user/research}" method="post">
		<div style="width:800px;background-color:white;border-top:solid;border-color:#117ACA">
			<!-- Search -->
			<span style="margin-left:-83%;font-size:18px;padding-top:10px">Choose a Fund</span>
			<span th:each="err : ${model.error}">
				<p style="color:red" th:text="${err}"></p>
			</span>
			<select name="fund" id="fund" class="form-control">
				<option th:each="fund : ${model.fundlist}" th:value="${fund.name}" th:text="${fund.name}">eBizEducation</option>
			</select>
			<br/>
			<button class="btn btn-primary" type="submit" style="float:right;width:15%">Search</button>
			<!-- Chart -->
			<div style="display:none"id="chart" th:style="${model.display} ? 'display: block;' : 'display: none'">
			</div>
			<br>				
			<br>
		</div>
		</form>
	</div>

	<div th:replace="~{fragments/footer :: footer}"></div>

	<!-- chart -->
	<script th:inline="javascript">
        /*<![CDATA[*/
		var date = [[${model.dates}]];
        var price = [[${model.prices}]];
        var fund = [[${model.fundname}]]
        /*]]>*/
        for (var i = 0; i < date.length; i++) {
            date[i] = Date.UTC(parseInt(date[i].substring(0,4)), parseInt(date[i].substring(5,7)) - 1, parseInt(date[i].substring(8,10)));
		}
        var data = [];
        for (var i = 0; i < date.length; i++) {
            var unit = [date[i], price[i]];
            data.push(unit);
		}
		console.log("model data is " + data);
		    Highcharts.chart('chart', {
		        chart: {
		            zoomType: 'x'
		        },
		        title: {
		            text: fund
		        },
		        subtitle: {
		            text: document.ontouchstart === undefined ?
		                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
		        },
		        xAxis: {
		            type: 'datetime'
		        },
		        yAxis: {
		            title: {
		                text: 'Price'
		            }
		        },
		        legend: {
		            enabled: false
		        },
		        credits: {
		        	enabled: false
		        },
		        plotOptions: {
		            area: {
		                fillColor: {
		                    linearGradient: {
		                        x1: 0,
		                        y1: 0,
		                        x2: 0,
		                        y2: 1
		                    },
		                    stops: [
		                        [0, Highcharts.getOptions().colors[0]],
		                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
		                    ]
		                },
		                marker: {
		                    radius: 2
		                },
		                lineWidth: 1,
		                states: {
		                    hover: {
		                        lineWidth: 1
		                    }
		                },
		                threshold: null
		            }
		        },

		        series: [{
		            type: 'area',
		            name: 'price',
		            data: data
		        }]
		});
	</script>
</body>
</html>