<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="../../css/bootstrap.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="../../js/bootstrap.min.js"></script>
	<title>Sell Fund</title>
	<script type="text/javascript">
		$(document).on('change', '#share', function() {
            var val = parseFloat($("#share").val()).toFixed(3);
            $("#share").val(val);
		})
	</script>
</head>
<body>

	<div th:replace="~{fragments/CustomerHeader :: header}"></div>

	<!-- Main Part -->
	<br/>
	<br/>
	<div class="container-fluid" align=center>
		<p style="margin-left:-55%;font-size:20px"><span class="caret"></span> SELL FUNDS</p>
		<form th:action="@{~/user/sell}" method="post">
		<div style="width:800px;background-color:white;border-top:solid;border-color:#117ACA">
			<!-- Step 1 -->
			<span style="margin-left:-72%;font-size:18px;padding-top:10px">1. Choose one of your Fund</span>
			<select name="fund" id="fund" class="form-control">
				<option th:each="fund : ${model.selllist}" th:value="${fund.fundname}" th:text="${fund.fundname + ' Shares: ' + #numbers.formatDecimal(fund.shares, 1, 'COMMA', 3, 'POINT')}"><input name="fundshare" id="fundshare" type="hidden" th:value="${fund.shares}"/>eBizEducation</option>
			</select>
			<!-- Step 2 -->
			<span style="margin-left:-81%;font-size:18px;padding-top:10px">2. Shares(#) to sell</span>
			<input id="share" name="share" step="0.001" type="number" class="form-control"/>
			<!--<span style="margin-right:-80%">Current Shares: (Under Construction)</span>-->
			<span th:each="err : ${model.error}">
				<p style="color:red" th:text="${err}"></p>
			</span>
			<br/>
			<br/>
			<button class="btn btn-primary" type="button" style="float:right;width:15%" data-toggle="modal" data-target="#myModal">Sell</button>
			<p>* Note: your shares to sell should be less than the shares you own.</p>
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
    				<div class="modal-content">
        				<div class="modal-header">
            				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            				<h4 class="modal-title" id="myModalLabel">Sell Fund</h4>
        				</div>
        				<div class="modal-body">
        					<h4>Are you sure to sell this fund?</h4>
        				</div>
        				<div class="modal-footer">
            				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
           					<button type="submit" class="btn btn-primary">Submit</button>
        				</div>
    				</div><!-- /.modal-content -->
				</div><!-- /.modal -->
			</div>
			<br>				
			<br>
		</div>
		</form>
	</div>

	<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>