<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<div th:replace="~{fragments/EmployeeHeader :: header}"></div>
	<div class="container">
		<p style="margin-top:2%; font-size:20px; " align=center th:text="${employeeModel.title}"></p>
		<div style="width:750px;background-color:white;border-top:solid;border-color:#117ACA;
		margin-right: auto; margin-left: auto;">
		<div class="createaccount"
		style="width: 80%; margin-left: auto; margin-right: auto; align:center;">
		<div class="form-group">
			<!-- <form action="/employee/CreateEmployeeAccount" th:action="@{/employee/CreateEmployeeAccount}" method="post" th:object="${employeeModel.newEmployee}"> -->
			<!-- <form action="/employee/CreateEmployee" th:action="@{/employee/CreateEmployee}" method="post" th:object="${employeeModel.modifyEmployee}">	 -->
			<form action="/employee/modifyEmployeePassword" th:action="@{/employee/modifyEmployeePassword}" method="post" th:object="${employeeModel.modifyEmployee}">							
					<label for="username" style="font-size: 18px; padding-top: 10px">
					Employee Name</label> <input type="text" name="username" class="form-control" th:value="*{username}" readonly="readonly"/> <br>
					<label for="firstname" style="font-size: 18px; padding-top: 10px">
					First Name</label> <input type="text" name="firstname" class="form-control" th:value="*{firstname}" readonly="readonly"/> <br>
					<label for="lastname" style="font-size: 18px; padding-top: 10px">
					Last Name</label> <input type="text" name="lastname" class="form-control" th:value="*{lastname}" readonly="readonly"/> <br>
					<label for="password" style="font-size: 18px; padding-top: 10px">
					Password</label> <input type="password" name="password" class="form-control" th:value="*{password}"/> <br> 
					<input class="btn btn-primary" type="submit" value="Confirm" style="width:15%">
		
			</form>
		</div>
		</div>
	</div>
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
