<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<div th:replace="~{fragments/EmployeeHeader :: header}"></div>
	<div class="container">
		<p style="margin-top:2%; font-size:20px; " align=center th:text="${customerModel.title}"></p>
		<div style="width:750px;background-color:white;border-top:solid;border-color:#117ACA;
		margin-right: auto; margin-left: auto;">
		<div class="createaccount"
		style="width: 80%; margin-left: auto; margin-right: auto; align:center;">
		<div class="form-group">

			<form action="/employee/modifyCustomer" th:action="@{/employee/modifyCustomer}" method="post" th:object="${customerModel.curt}">										
					<input type="hidden" name="id" th:value="*{id}">
					<label for="username" style="font-size: 18px; padding-top: 10px">
					User Name</label> <input type="text" name="username" class="form-control" th:value="*{username}" readonly="readonly"/> 
					<label for="password" style="font-size: 18px; padding-top: 10px">
					Password</label> <input type="password" name="password" class="form-control" th:value="*{password}"/> 
					<label for="firstname" style="font-size: 18px; padding-top: 10px">
					First Name</label> <input type="text" name="firstname" class="form-control" th:value="*{firstname}" readonly="readonly"/> 
					<label for="lastname" style="font-size: 18px; padding-top: 10px">
					Last Name</label> <input type="text" name="lastname" class="form-control" th:value="*{lastname}" readonly="readonly"/> 
					<label for="addr_line1" style="font-size: 18px; padding-top: 10px">
					Address(Line 1)</label> <input type="text" name="addr_line1" class="form-control" th:value="*{addr_line1}" readonly="readonly"/> 
					<label for="addr_line2" style="font-size: 18px; padding-top: 10px">
					Address(Line 2)</label> <input type="text" name="addr_line2" class="form-control" th:value="*{addr_line2}" readonly="readonly"/> 
					<label for="city" style="font-size: 18px; padding-top: 10px">
					City</label> <input type="text" name="city" class="form-control" th:value="*{city}" readonly="readonly"/> 
					<label for="state" style="font-size: 18px; padding-top: 10px">
					State</label> <input type="text" name="state" class="form-control" th:value="*{state}" readonly="readonly"/> 
					<label for="zip" style="font-size: 18px; padding-top: 10px">
					Zip</label> <input type="text" name="zip" class="form-control" th:value="*{zip}" readonly="readonly"/> 
					<br>
					<input class="btn btn-primary btn-lg" type="submit" value="Save" style="width:15%">			   		
			</form>
		</div>
		</div>
	</div>
	</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>